{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'MyApp/links.html' %}
    <div class="container text-center">
        <h1>Actualize a recipe</h1>
    </div>
    <form method="POST" class='formulario'>
        {% csrf_token %}
        <table>
            {{ recipes.as_table }}
            <tr>
                <td></td>
                <td><input type="submit" value="Atualize"></td>
            </tr>
        </table>
    </form>
</body>
</html>