{% extends 'MyApp/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<div style="display:inline-block;vertical-align:top;">
    <h2>The cookbook online</h2>
    <img src="https://media.istockphoto.com/id/1304880229/photo/baking-and-cooking-ingredients-and-blank-recipe-book.jpg?b=1&s=170667a&w=0&k=20&c=M4dbEA8wMBAUugSLHAZx_qKBMrom46hh_ocZAZzXjyU=" alt="CookbookIMG" width=100% height=100% alt="img"/>
    </div>
    <div style="display:inline-block;">
    <p>
    Text content
    </p>
    </div>
    
{% endblock %}