{% extends 'MyApp/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container text-center" >
    <h2>The cookbook online</h2>
    <p>
        Welcome on your recipes website. Here you can login and add informations about your favorites recipes.
    </p>
    <img src="https://media.istockphoto.com/id/1304880229/photo/baking-and-cooking-ingredients-and-blank-recipe-book.jpg?b=1&s=170667a&w=0&k=20&c=M4dbEA8wMBAUugSLHAZx_qKBMrom46hh_ocZAZzXjyU=" alt="CookbookIMG" width=50% height=50% alt="img"/>
{% endblock %}